NODE_ENV=local

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=local_user
DB_PASSWORD=local_password
DB_DATABASE=nest_repository

JWT_ACCESS_SECRET=your-access-secret-key
JWT_REFRESH_SECRET=your-refresh-secret-key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

JWT_ADMIN_ACCESS_EXPIRATION=15m
JWT_ADMIN_ACCESS_SECRET=your-admin-access-secret-key
JWT_ADMIN_REFRESH_EXPIRATION=7d
JWT_ADMIN_REFRESH_SECRET=your-admin-refresh-secret-key

LOG_LEVEL=debug

SLACK_BOT_TOKEN=xoxb-your-slack-bot-token

REDIS_HOST=localhost
REDIS_PORT=6379

OTEL_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
OTEL_SERVICE_NAME=nest-repository-pattern
